include ../mixins/mixins.pug

doctype html
html(lang="en")
	head
		include ../partical/meta
		include ../partical/favicon
		include ../partical/css
		title Document
	body
		include header
		main
			block main
		include footer
		a(href="javascript:void(0)").cd-top.js-cd-top
			| Top
		include ../partical/script
