include ../mixins/mixins.pug

doctype html
html(lang="en")
	head
		include ../partical/meta
		include ../partical/favicon
		include ../partical/css
		title Document
	body
		include header
		main
			block main
		include footer
		include ../partical/script
